.text-inputs {
  border: 1px solid #cacccd;
  height: 4.7rem;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
}

.select {
  @extend .text-inputs;
}

.textarea {
  @extend .text-inputs;
  height: 10rem;
}
